.App {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgba(48, 48, 48, 0);
  color: black;
  }
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: right; 
  align-items: center;
  list-style: none;
  color: black;
  
}

.home-link{
  display: flex;
  padding: 2em;
  margin: 2em;
  color: black;
}

.about-link { 
  display: flex;
  padding: 2em;
  margin: 2em;
  color: black;
}

.shop-link {
  display: flex;
  padding: 2em;
  margin: 2em;
  color: black;
}

.logo {
  max-height: 8vh;
}

.main-image{
  max-width: 100vw;
  height: 120vh;
}

.home-para {
  display: flex;
  font-weight: bold;
  justify-content: start;
  margin-left: 5%;
  padding-right: 2em;
}